altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
blinker==1.9.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
cryptography==49.0.0
Django==6.0.6
dnspython==2.8.0
dotmap==1.3.30
et_xmlfile==2.0.0
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
greenlet==3.5.3
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
lmbd==0.1.1
mangodb==0.9
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
numpy==2.5.1
openpyxl==3.1.5
orjson==3.11.9
packaging==26.2
pandas==3.0.3
pefile==2024.8.26
pqcrypto==0.4.0
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pymango==0.1.1
pymongo==4.17.0
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
quantcrypt==1.0.1
redis==8.0.1
requests==2.34.2
rich==15.0.0
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
SQLAlchemy==2.0.51
sqlparse==0.5.5
tinydb==4.8.2
typer==0.26.8
types-zxcvbn==4.5.0.20260518
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
Werkzeug==3.1.8
zxcvbn==4.5.0
